.button-action {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
  z-index: 1;
}

.btn {
  height: 30px;
  width: 40px;
  text-align: center;
  background-color: red;
  color: #fff;
  border: none;
  font-size: 16px;
}
